RANDOM_SEED=42
TEST_SPLIT_SIZE=0.1

DATASET=titanic
DATASET_TEST=titanic_test

# MLflow
MLFLOW_TRACKING_URL=http://127.0.0.1:8080
MLFLOW_EXPERIMENT_NAME="Titanic PoC"
MLFLOW_MODEL_NAME=titanic_model
MLFLOW_REGISTERED_MODEL_NAME=sklearn-logreg-model
MLFLOW_S3_ENDPOINT_URL= http://127.0.0.1:9000

# Minio
MINIO_URL=127.0.0.1:9000
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin
MINIO_MLFLOW_BUCKET_NAME=mlflow
MINIO_DRIFT_BUCKET_NAME=driftdata
